@import "tailwindcss";

@theme {
  --color-brand: var(--color-indigo-500);
  --font-sans: "Plus Jakarta Sans", sans-serif;

  --animate-glow: glow 3s infinite ease-in-out;

  @keyframes glow {
    0%,
    100% {
      box-shadow: 0 0 calc(var(--spacing) * 3) color-mix(in oklab, var(--color-brand) 20%, transparent);
    }

    50% {
      box-shadow: 0 0 calc(var(--spacing) * 3) calc(var(--spacing) * 2)
        color-mix(in oklab, var(--color-brand) 30%, transparent);
    }
  }
}

@layer base {
  body {
    @apply font-sans antialiased text-slate-800 bg-slate-50;
  }
}
